import toolset : using ;

using python
: 3.8 # version
: # Interperter/path to dir
: ${PY38_32include} # includes
: ${PY38_32libs} # libs
: # conditions
;

using python
: 3.8 # version
: # Interperter/path to dir
: ${PY38_64include} # includes
: ${PY38_64libs} # libs
: <address-model>64 # conditions
;
