import toolset : using ;

using python
: 3.14 # version
: # Interperter/path to dir
: ${PY314_32include} # includes
: ${PY314_32libs} # libs
: # conditions
;

using python
: 3.14 # version
: # Interperter/path to dir
: ${PY314_64include} # includes
: ${PY314_64libs} # libs
: <address-model>64 # conditions
;
